body{
    background-color: antiquewhite;
    color: black;
    background-image: linear-gradient(black, white);
    background-image: url();
    background-repeat: no-repeat;
    background-size: 100%;
}
/*estrutura grid*/
body{
    display: grid;
    grid-template-areas:
    "frango frango frango"
    "arroz scp scp"
    "pee pee pee"

}
.scp{
    grid-area: scp;
    background-color: rgb(184, 170, 170);
    border-radius: 75px;
}
.frango{
    grid-area: frango;
    background-color: brown;
}
/*visual do header*/
header{
    background-color: grey;
}
.arroz{
    grid-area: arroz;
    background-color: yellow;
    border-radius: 75px
}
.pee{
    grid-area: pee;
    background-color: darkorange;
}
.foto1{
    text-align: right;
    border-radius: 75px
}

.foto2{
    text-align: center;
    border-radius: 75px;
    height: 400px;
    width: 400px;
}


aside{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.titulo1{
    text-align: center;
}
